# GitHub
.git/
.github/

# Visual Studio Code
.vscode/

# Dependencies
node_modules/
npm-debug.log
yarn-error.log
*.lock

# Source
*/source/

# Package Configuration
*.config.ts
*.config.js
*.json
!package.json

# Documentation
*.md
*.txt

# Environment Variables
.env*

# Ignores
.*ignore

# macOS & Windows
.DS_Store
Thumbs.db
