# Dependencies
node_modules/
npm-*.log

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-*.log

# Builds
dist/
*.tsbuildinfo
*.d.ts
*.map

# Environment Variables
.env*
!.env.example

# macOS & Windows
.DS_Store
Thumbs.db
