# GitHub
.git
.github/

# IDEs
.vscode/

# Dependencies
node_modules/
npm-*.log
yarn-*.log
.pnp.*
.yarn/*
*.lock

# Builds
dist/
*.tsbuildinfo
*.d.ts
*.map

# Source
*.html

# Package Configuration
*.config.*s
*.json

# Docker
Dockerfile
docker-compose.yml

# Documentation
*.md
*.txt
*.png

# Environment Variables
.env*

# Ignores
.*ignore

# macOS & Windows
.DS_Store
Thumbs.db
